<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Spring-Defaults -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %clr(%-5level) [%-4thread] %50logger{50} | %message%n</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="WARN"/>
    <logger name="com.proof.policy" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
